<div class="d-flex mx-3 my-1 flex-fill">
  <div class="d-flex">
    <div class="currency flex-fill align-self-center">
      <img src="img/dune-logo.png" alt="Dune Network"/>
    </div>
  </div>
  <div class="d-flex flex-column flex-fill align-self-center">
    <div class="d-flex flex-grow-1">
      <div class="flex-fill">
        <div class="d-flex flex-column  align-items-center">
          <span>Amount</span>
          <v-dun precision="3" :amount="amount"></v-dun>
        </div>
      </div>
      <div v-if="burn > 0" class="flex-fill burn">
        <div class="d-flex flex-column align-items-center">
          <div v-if="kind=='transaction' && collectCall">
            <span>Burn</span>
            <span class="text-info ml-2" title="Burn will be paid by the contract called">
              <span class="fas fa-exclamation-circle"></span>
            </span>
          </div>
          <span v-else>Burn</span>
          <v-dun precision="3" :amount="burn"></v-dun>
        </div>
      </div>
      <div class="flex-fill">
        <div class="d-flex flex-column align-items-center">
          <div v-if="managerKT">
            <span>
              Fee
              <span class="text-danger ml2" title="Fee will be paid by the manager">
                <span class="fas fa-exclamation-circle"></span>
              </span>
            </span>
          </div>
          <div v-else-if="kind=='transaction' && collectCall">
            <span>
              Fee
              <span class="text-info ml2" title="Fee will be paid by the contract called">
                <span class="fas fa-exclamation-circle"></span>
              </span>
            </span>
          </div>
          <span v-else>Fee</span>
          <v-dun precision="3" :amount="fee"></v-dun>
        </div>
      </div>
    </div>
    <div class="d-flex flex-grow-1">
      <div class="flex-fill">
        <div class="d-flex flex-column align-items-center font-weight-bold">
          <span>Total</span>
          <v-dun precision="3" :amount="total"></v-dun>

        </div>
      </div>
    </div>
  </div>
</div>
