<div>
  <div class="p-2 mb-3 text-center" v-if="core.delegate!=undefined && core.delegate.pkh==core.account.pkh">
    You are set as a baker, you cannot delegate any longer
  </div>
  <div v-else>
    <div class="mb-3 text-center" v-if="core.delegate!=undefined">
      <span class="mx-3">Your current delegate is</span>
      <v-account :pkh="core.delegate.pkh" :net="core.network" len="20"></v-account>
    </div>
    <div class="p-2 mb-3" v-if="core.bakers.length!=0">
      <b-form-select v-model="core.op.delegation.delegate" :options="core.bakers" value-field="pkh" text-field="name">
        <template v-slot:first>
          <b-form-select-option :value="undefined" disabled>Select an official delegate or choose a custom one</b-form-select-option>
        </template>
      </b-form-select>
    </div>
    <b-input-group prepend="Delegate" class="p-2 mb-3">
      <b-form-input v-model="core.op.delegation.delegate">
      </b-form-input>
      <b-input-group-append>
        <b-input-group-text>
          <b-icon-question-circle v-b-tooltip.hover title="To undelegate, enter 'unset'">
          </b-icon-question-circle>
        </b-input-group-text>
      </b-input-group-append>
    </b-input-group>
    <div v-if="!expandable">
      <div class="text-right">
        <b-button variant="link" @click="route('delexp')" class="mr-3">More options</b-button>
      </div>
    </div>
    <div v-else>
      <div class="text-right">
        <b-button variant="link" v-b-toggle="'del-options'" class="mr-3">More options</b-button>
      </div>

      <b-collapse :visible="expanded" id="del-options">
        <b-input-group prepend="Fee" append="μđ" class="p-2 mb-3">
          <b-form-input v-model="core.op.info.fee" type="number">
          </b-form-input>
        </b-input-group>
        <b-input-group prepend="Gas limit" class="p-2 mb-3">
          <b-form-input v-model="core.op.info.gasLimit" type="number">
          </b-form-input>
        </b-input-group>
        <b-input-group prepend="Storage limit" class="p-2 mb-3">
          <b-form-input v-model="core.op.info.storageLimit" type="number">
          </b-form-input>
        </b-input-group>
      </b-collapse>
    </div>
    <div class="text-center">
      <b-button variant="success" class="m-3" @click="show_op('delegation', false)">Delegate</b-button>
      <b-button variant="danger" class="m-3" @click="clear_op('delegation', false)">Cancel</b-button>
    </div>
  </div>
</div>
