<div id="app" :class="theme.class">

  <!-- NAVBAR -->
  <b-navbar v-if="path!='presentation'" toggleable="sm" :type="theme.type" :variant="theme.bg_variant" style="height: 70px">
    <b-navbar-brand>
      <img src="img/metal.png" alt="Logo" style="width:40px;">
    </b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item :active="path=='home'" :disabled="!enabled" @click="route('home')">Home</b-nav-item>
        <b-nav-item :active="path=='settings'" :disabled="!enabled" @click="route('settings')">Settings</b-nav-item>
        <b-nav-item :active="path=='start'" @click="route('start')">New</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <b-form-select v-if="path=='home'" v-model="core.network" :options="core.networks" @change="change_network()"></b-form-select>
        <b-button :variant="theme.bg_variant" class="mx-2" @click="lock()"><b-icon-lock-fill></b-icon-lock-fill></b-button>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>

  <div style="min-height: calc(100vh - 70px);">

    <div v-if="path=='start'">

      <!-- START/NEW WALLET -->
      <b-container v-if="start.section==''" class="py-5 h-50 text-center">
        <b-row>
          <b-col cols="12" class="h1 my-5">Welcome to Dune Metal</b-col>
          <b-col cols="12" md="6" class="py-2">
            <b-card :bg-variant="theme.bg_variant" :text-variant="theme.tx_variant" :border-variant="theme.bd_variant">
              <h5 class="m-2 mb-4">Import an existing account!</h5>
              <b-button @click="section('import')">Import Wallet</b-button>
            </b-card>
          </b-col>
          <b-col cols="12" md="6" class="py-2">
            <b-card :bg-variant="theme.bg_variant" :text-variant="theme.tx_variant" :border-variant="theme.bd_variant">
              <h5 class="m-2 mb-4">Create a new account!</h5>
              <b-button @click="section('new')">Create Wallet</b-button>
            </b-card>
          </b-col>
        </b-row>
      </b-container>

      <!-- IMPORT WALLET -->
      <b-container v-else-if="start.section=='import'" class="py-5 h-50">
        <b-tabs>
          <b-tab title="ICO/Faucet" active class="p-4">
            <b-row>
              <b-col cols="6">
                <b-form-group label="Network">
                  <b-form-select v-model="start.network" :options="start.networks"></b-form-select>
                </b-form-group>
              </b-col>
              <b-col cols="6">
                <b-form-group label="Json File">
                  <b-form-file v-model="start.file_ico" accept=".json" @change="load_json_ico()"></b-form-file>
                </b-form-group>
              </b-col>
              <b-col cols="12">
                <b-form-group label="Mnemonic *">
                  <b-form-textarea v-model="start.mnemonic_ico" max-length="150"></b-form-textarea>
                </b-form-group>
              </b-col>
              <b-col cols="6">
                <b-form-group label="Email *">
                  <b-form-input v-model="start.email_ico"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="6">
                <b-form-group label="Password *">
                  <b-form-input v-model="start.pwd_ico"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="6">
                <b-form-group label="Public Key Hash">
                  <b-form-input v-model="start.pkh_ico"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="6">
                <b-form-group label="Activation Code">
                  <b-form-input v-model="start.activation_ico"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="12" class="text-center">
                <b-button class="m-3" @click="create('ico')">Restore</b-button>
                <b-button class="m-3" @click="section('')">Cancel</b-button>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab title="Seed Phrase" class="p-4">
            <b-row>
              <b-col cols="12">
                <b-form-group label="Mnemonic *" :state="start.mnemonic_seed_state" invalid-feedback="Wrong mnemonic">
                  <b-form-textarea v-model="start.mnemonic_seed" max-length="150" @input="start.menmonic_seed_state = null"></b-form-textarea>
                </b-form-group>
              </b-col>
              <b-col cols="12">
                <b-form-group label="Passphrase">
                  <b-form-input v-model="start.passphrase_seed" @keyup.enter="create('seed')"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="12" class="text-center">
                <b-button class="m-3" @click="create('seed')">Restore</b-button>
                <b-button class="m-3" @click="section('')">Cancel</b-button>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab title="Secret Key" class="p-4">
            <b-row>
              <b-col cols="12">
                <b-form-group label="Secret Key" :state="start.secret_key_state">
                  <b-form-input v-model="start.secret_key" @keyup.enter="create('sk')" :state="start.secret_key_state" @input="start.secret_key_state = null"></b-form-input>
                </b-form-group>
                <b-form-group label="Password" :state="start.secret_key_state">
                  <b-form-input v-model="start.secret_key_pwd" @keyup.enter="create('sk')" :state="start.secret_key_state" @input="start.secret_key_state = null" type="password" placeholder="Required only for encrypted secret key"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="12" class="text-center">
                <b-button class="m-3" @click="create('sk')" v-if="!start.secret_key_decrypting">Restore</b-button>
                <b-button class="m-3" variant="primary" v-else>
                  Decrypting
                  <b-spinner small variant="light"></b-spinner>
                </b-button>
                <b-button class="m-3" @click="section('')">Cancel</b-button>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab title="Ledger" class="p-4">
            <b-row>
              <b-col cols="12">
                <b-form-group label="Hardware">
                  <b-form-select v-model="start.hardware" :options="['ledger']"></b-form-select>
                </b-form-group>
              </b-col>
              <b-col cols="12">
                <b-form-group label="Derivation Path">
                  <b-form-input v-model="start.derivation_path" @keyup.enter="create('ledger')"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="12" class="text-center">
                <b-button class="m-3" @click="create('ledger')">Link</b-button>
                <b-button class="m-3" @click="section('')">Cancel</b-button>
              </b-col>
            </b-row>
          </b-tab>
        </b-tabs>
      </b-container>

      <!-- NEW WALLET -->
      <b-container v-else-if="start.section=='new'" class="py-5 h-50 text-center">
        <b-row>
          <b-col cols="12">
            <h4>Mnemonic Generated</h4>
          </b-col>
          <b-col cols="10" offset="1" lg="6" offset-lg="3" class="lead p-4">
            <b-alert variant="primary" show>
              {{ start.mnemonic_new }}
            </b-alert>
          </b-col>
          <b-col cols="10" offset="1" class="p-4">
            <b-input v-model="start.passphrase_new" placeholder="Passphrase (optional)" @keyup.enter="create('new')"></b-input>
          </b-col>
          <b-col cols="10" offset="1" lg="6" offset-lg="3" class="p-4">
            <b-alert variant="warning" show>
              <div class="lead">
                <b-icon-exclamation-circle-fill></b-icon-exclamation-circle-fill>
                Store your mnemonic and passphrase in a safe place
              </div>
              <div>
                Don't share it with anyone.
                This is the only way to recover your account.
              </div>
            </b-alert>
          </b-col>
          <b-col cols="12">
            <b-button class="m-3" @click="create('new')">I wrote down my mnemonic</b-button>
            <b-button class="m-3" @click="section('new')">Refresh</b-button>
            <b-button class="m-3" @click="section('')">Cancel</b-button>
          </b-col>
        </b-row>
      </b-container>

      <!-- ENCRYPT WALLET -->
      <b-container v-else-if="start.section=='encrypt'" class="py-5 h-50 w-50">
        <b-card v-if="typeof(start.account)=='undefined'" :bg-variant="theme.bg_variant" :text-variant="theme.tx_variant" :border-variant="theme.bd_variant">
          <b-row>
            <b-col cols="12">
              <b-form-group label="Password *" :state="start.pwd1_state" invalid-feedback="Password length must be longer than 8 character">
                <b-form-input v-model="start.encrypt_pwd1" type="password" :state="start.pwd1_state" @input="start.pwd1_state = null"></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="12">
              <b-form-group label="Confirm Password *" :state="start.pwd2_state" invalid-feedback="Passwords don't match">
                <b-form-input v-model="start.encrypt_pwd2" type="password" :state="start.pwd2_state" @keyup.enter="encrypt()" @input="start.pwd2_state = null"></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="12" class="text-center">
              <b-button class="m-3" @click="encrypt()">Encrypt</b-button>
              <b-button class="m-3" @click="section('')">Cancel</b-button>
            </b-col>
          </b-row>
        </b-card>
        <b-card v-else :bg-variant="theme.bg_variant" :text-variant="theme.tx_variant" :border-variant="theme.bd_variant">
          <b-row>
            <b-col cols="12">
              <b-form-group label="Password *" :state="start.pwd_state" invalid-feedback="Wrong password">
                <b-form-input v-model="start.encrypt_pwd" type="password" :state="start.pwd_state" @keyup.enter="encrypt()" @input="start.pwd_state = null"></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="12" class="text-center">
              <b-button class="m-3" @click="encrypt()">Unlock</b-button>
              <b-button class="m-3" @click="section('')">Cancel</b-button>
            </b-col>
          </b-row>
        </b-card>
      </b-container>

      <b-container v-else-if="start.section=='end'" class="py-5 h-50 w-50 text-center">
        <b-card :bg-variant="theme.bg_variant" :text-variant="theme.tx_variant" :border-variant="theme.bd_variant">
          <b-row>
            <b-col cols="12" class="h3">Congrats!</b-col>
            <b-col cols="12">You are now set up tu use Dune Metal</b-col>
            <b-col cols="12" class="text-center">
              <b-button @click="enabled = true; route('home')" @keyup.enter="enabled = true; route('home')" variant="primary" class="my-3">Continue</b-button>
            </b-col>
          </b-row>
        </b-card>
      </b-container>
    </div>

    <!-- PRESENTATION -->
    <div class="presentation py-5" v-else-if="path=='presentation'">
      <transition name="step-transition" enter-to-class="slide-in" leave-class="slide-out">
        <!-- step1 -->
        <b-container v-if="pres.step==1" class="py-5 d-flex flex-column rounded" key="step1">
          <div class="d-flex align-items-center mx-auto mt-5 header">
            <img src="img/metal.png" alt="Metal"></img>
            <h1 class="mx-5">Welcome to Metal</h1>
          </div>
          <div class="p-3">
            <h3 class="text-center">Metal is ...</h3>
            <div class="d-flex align-items-center m-5 py-4 border-bottom text-justify" :class="theme.border_class">
              <div class="mx-5"><span class="fas fa-wallet"></span></div>
              <span>
                ... a browser wallet. As any wallet, Metal offers an interface to the Dune
                Network blockchain. It allows anyone to execute Dune Network
                operations: send coins, pick a delegation service and delegate coins to
                them, originate new smart contract, etc.. This enables anyone to interact
                with the blockchain without having to run a full node.
              </span>
            </div>
            <div class="d-flex align-items-center m-5 py-4 border-bottom text-justify" :class="theme.border_class">
              <div class="mx-5"><span class="fas fa-network-wired"></span></div>
              <span>
                ... a bridge to dApp. It aims to create a hub that will help dApp developers
                and remove friction for the users. DApp developers can start working on
                their app and use the injected metal api to delegate the crypto part to
                metal. The user will receive notification of any signing requests
                coming from the visited dApp pages and decide to accept or not.
              </span>
            </div>
            <div class="d-flex align-items-center m-5 py-4 border-bottom text-justify" :class="theme.border_class">
              <div class="mx-5"><span class="fas fa-laptop-code"></span></div>
              <span>
                ... open source and free. You can install it from the extension store on Firefox
                and Chrome. You can view the source code on gitlab. You can also use gitlab
                to contribute to the code base by making merge requests or reporting any
                issues that you may encounters.
              </span>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center mb-3">
            <b-button class="m-2 invisible" variant="outline-primary">Prev</b-button>
            <div>
              <span class="step-current"><b-icon-circle-fill></b-icon-circle-fill></span>
              <span class="step"><b-icon-circle-fill></b-icon-circle-fill></span>
              <span class="step"><b-icon-circle-fill></b-icon-circle-fill></span>
            </div>
            <b-button class="m-2" @click="pres.step = pres.step + 1" variant="outline-primary">Next</b-button>
          </div>
        </b-container>

        <!-- step2 -->
        <b-container v-if="pres.step==2" class="py-5 d-flex flex-column rounded" key="step2">
          <div class="d-flex align-items-center mx-auto mt-5 header">
            <img src="img/metal.png" alt="Metal"></img>
            <h1 class="mx-5">Metal as a wallet</h1>
          </div>
          <div>
            <div class="d-flex align-items-center m-5 p-5 border-top para" :class="theme.border_class">
              <div class="m-5"><span class="fas fa-wallet"></span></div>
              <span class="text-justify">
                A wallet is a piece of software that holds your public address and private
                key. This pair of data is the only thing you need to send or receive
                tokens. The wallet aims to allow interactions with the blockchain in a
                simple and secure way, it is just a convinient interface. Your tokens are
                not store in the wallet, they are on the blockchain itself. This is why it
                important to keep your keys safe, having control over them means
                controlling the funds on the corresponding address.
              </span>
            </div>
            <div class="alert alert-danger mx-5 mb-5 p-5">
              <h3 class="text-center mb-5 font-weight-bold">
                <b-icon-exclamation-triangle-fill></b-icon-exclamation-triangle-fill>
                <span class="ml-3">Safety tips</span>
              </h3>
              <ol>
                <li>
                  <span class="font-weight-bold">Make sure to keep your keys and password</span>
                  <p>Write it down and keep them safe. We can't restore
                    your keys or reset your password.</p>
                </li>
                <li>
                  <span class="font-weight-bold">You are in control of your funds</span>
                  <p>Metal encrypts and stores the encrypted data it needs
                    to operate in your browser storage. And that's it, so
                    if you lost your mnemonic or secret key the funds are
                    lost for good.</p>
                </li>
                <li>
                  <span class="font-weight-bold">Use a hardware wallet</span>
                  <p>It remains the most secure way to store you keys.</p>
                </li>
              </ol>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center mb-3">
            <b-button class="m-2" @click="pres.step = pres.step - 1" variant="outline-primary">Prev</b-button>
            <div>
              <span class="step"><b-icon-circle-fill></b-icon-circle-fill></span>
              <span class="step-current"><b-icon-circle-fill></b-icon-circle-fill></span>
              <span class="step"><b-icon-circle-fill></b-icon-circle-fill></span>
            </div>
            <b-button class="m-2" @click="pres.step = pres.step + 1" variant="outline-primary">Next</b-button>
          </div>
        </b-container>

        <!-- step3 -->
        <b-container v-if="pres.step==3" class="py-5 d-flex flex-column rounded" key="step3">
          <div class="d-flex align-items-center mx-auto mt-5 header">
            <img src="img/metal.png" alt="Metal"></img>
            <h1 class="mx-5">Metal with dApp</h1>
          </div>
          <div>
            <div class="d-flex align-items-center m-5 p-5 border-top para" :class="theme.border_class">
              <div class="m-5"><span class="fas fa-network-wired"></span></div>
              <span class="text-justify">
                Metal is not just another browser wallet. It is the gateway to the
                decentralized web. It aims to make dApp development easier by allowing
                dApp developer to delegate the account managing to Metal. Hence Metal
                provides an API that is injected in the web page. DApp developers can
                use this API to interact with your account (via notification) and with
                the blockchain (send operations).
              </span>
            </div>
            <div class="d-flex align-items-center m-5 p-5 border-top para" :class="theme.border_class">
              <div class="m-5"><img src="img/metal_dapp1.png" alt="Metal approve"></img></div>
              <span class="text-justify">
                As soon as a dApp will try to interact with the background of metal,
                a notification popup will be open to ask permission. Since the API is
                injected in any page you visit, you will have to whitelist domain that
                can get a response from the API. Whitelisting a domain will make it able
                to query the current configuration of your wallet (selected account,
                selected network, unlock state, etc) and most importantly to send sign
                requests (transaction, origination, delegation, etc). So make sure you are
                on a trusted domain before accepting. The Dune operations
                sent by dApp will by notified to you and wait for your approval. You always
                should carrefuly review the operation that the dApp want you to sign.
              </span>
            </div>
            <div class="d-flex align-items-center m-5 p-5 border-top para" :class="theme.border_class">
              <div class="m-5"><img src="img/metal_dapp2.png" alt="Metal transaction"></img></div>
              <span class="text-justify">
                This kind of notification popup will open when a dApp request you to sign
                an operation. May it be transaction, origination or delegation you will be
                able to review it in this window. Make sure to understand what the
                operation implies before accepting it.
              </span>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center mb-3">
            <b-button class="m-2" @click="pres.step = pres.step - 1" variant="outline-primary">Prev</b-button>
            <div>
              <span class="step"><b-icon-circle-fill></b-icon-circle-fill></span>
              <span class="step"><b-icon-circle-fill></b-icon-circle-fill></span>
              <span class="step-current"><b-icon-circle-fill></b-icon-circle-fill></span>
            </div>
            <b-button class="m-2" @click="route('start')" variant="outline-primary">
              <b-icon-check></b-icon-check>
              <span class="ml-2">Set Metal up</span>
            </b-button>
          </div>
        </b-container>
      </transition>
    </div>

    <!-- UNLOCK PAGE -->
    <div v-else-if="path=='unlock'">
      <b-container class="h-50 text-center my-5 py-5">
        <b-form-group class="mx-auto w-50" label="Password" :state="unlock.pwd_state" invalid-feedback="Wrong pasword">
          <b-form-input v-model="unlock.password" :state="unlock.pwd_state" type="password" @input="unlock.pwd_state = null" @keyup.enter="unlock_account()"></b-form-input>
        </b-form-group>
        <b-button class="m-4" @click="unlock_account()">Unlock</b-button>
        <div class="forgot-btn" @click="route('reset')">Forgot your Password?</div>
      </b-container>
    </div>

    <!-- RESET PAGE -->
    <div v-else-if="path=='reset'">
      <b-container v-if="!reset.confirmation">
        <b-row class="h-50 mx-auto py-5 my-5 text-center">
          <b-col cols="12">Your storage contains information about these accounts:</b-col>
          <b-col cols="12" class="p-3">
            <b-textarea readonly :rows="reset.textarea_rows" class="p-2">{{ reset.accounts }}</b-textarea>
          </b-col>
          <b-col cols="12">All sensitive information is encrypted with your password and
            cannot be retrieved without.</b-col>
          <b-col cols="12">The only way to continue using Metal is to reset the storage and
            import again the accounts given above using their secret key,
            mnemonic, ICO/Faucet information, or Ledger.</b-col>
          <b-col cols="12" class="p-3">
            <b-button variant="danger" @click="reset.confirmation = true">Reset Storage</b-button>
          </b-col>
        </b-row>
      </b-container>
      <b-container v-else class="text-center">
        <div class="text-danger">
          Do you really wish to reset your storage?<br>
          This operation is irreversible!
        </div>
        <div>
          <b-button class="m-2" variant="danger" @click="reset_storage()">Yes!</b-button>
          <b-button class="m-2" variant="info" @click="reset.confirmation = false">Cancel</b-button>
        </div>
      </b-container>
    </div>

    <!-- SETTINGS PAGE -->
    <div v-else-if="path=='settings'">
      <b-container>
        <!-- global settings -->
        <h3 class="mt-4 mb-3 border-bottom" :class="theme.border_class">General</h3>
        <b-form-checkbox v-model="settings.use_dunscan" @change="set_config()" class="my-3">
          Use DunScan for operations history
        </b-form-checkbox>
        <b-input-group prepend="Theme" class="my-3">
          <b-form-select :options="['material', 'dark', 'light']" v-model="settings.theme" @change="set_config()"></b-form-select>
        </b-input-group>
        <b-form-group>
          <b-form-checkbox v-model="settings.batch_notif" @change="set_config()" class="my-3">
            Allow automatic notification for pending operations
          </b-form-checkbox>
          <b-input-group class="my-3">
            <b-input-group-prepend>
              <b-input-group-text style="width:200px;">
                Trigger time before block
              </b-input-group-text>
            </b-input-group-prepend>
            <b-input v-model="settings.notif_timeout" type="number" @change="set_config()" :disabled="!settings.batch_notif"></b-input>
            <b-input-group-append>
              <b-input-group-text style="width:100px;">
                seconds
              </b-input-group-text>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
        <b-form-group label="Clear pending operations and notifications:">
          <div class="text-center">
            <b-button :variant="settings.local_cleared ? 'success' : 'primary'" @click="clear_local()">{{ settings.local_cleared ? 'Cleared' : 'Clear' }}</b-button>
          </div>
        </b-form-group>

        <!-- accounts settings -->
        <h3 class="mt-4 mb-3 border-bottom" :class="theme.border_class">Accounts</h3>
        <div>
          <b-table :dark="theme.dark" borderless :items="settings.accounts" :fields="['sort', 'address', 'alias', 'remove']" class="text-center">
            <template v-slot:cell(sort)="data">
              <b-button-group vertical size="sm" class="pt-1">
                <b-button :variant="theme.bg_variant" style="font-size:10px; padding:0px 5px;" @click="switch_accounts(data.index, data.index - 1)" :disable="data.index==0">&#9652</b-button>
                <b-button :variant="theme.bg_variant" style="font-size:10px; padding:0px 5px;" @click="switch_accounts(data.index, data.index + 1)" :disable="data.index==settings.accounts.length-1">&#9662</b-button>
              </b-button-group>
            </template>
            <template v-slot:cell(address)="data">
              <v-account :pkh="data.item.pkh" height="20" net="Mainnet" style="position:relative; top:5px;">
              </v-account>
            </template>
            <template v-slot:cell(alias)="data">
              <b-form-input v-model="data.item.name"></b-form-input>
            </template>
            <template v-slot:cell(remove)="data">
              <div class="text-center pt-1">
                <b-button :variant="theme.outline" size="sm" @click="remove_account(data.item.pkh)">&times</b-button>
              </div>
            </template>
          </b-table>
          <div class="text-center m-4">
            <b-button @click="save_accounts()">Save Accounts</b-button>
          </div>
        </div>

        <!-- password settings -->
        <h3 class="mt-4 mb-3 border-bottom" :class="theme.border_class">Password</h3>
        <b-row>
          <b-col cols="8" offset="2" md="4" offset-md="0">
            <b-form-group label="Old Password" :state="settings.old_pwd_state" invalid-feedback="Wrong password">
              <b-form-input v-model="settings.old_pwd" :state="settings.old_pwd_state" type="password" @input="settings.old_pwd_state = null">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="8" offset="2" md="4" offset-md="0">
            <b-form-group label="New Password" :state="settings.new_pwd_state" invalid-feedback="Password must be longer than 8 characters">
              <b-form-input v-model="settings.new_pwd" :state="settings.new_pwd_state" type="password" @input="settings.new_pwd_state = null">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="8" offset="2" md="4" offset-md="0">
            <b-form-group label="Confirm Password" :state="settings.confirm_pwd_state" >
              <b-form-input v-model="settings.confirm_pwd" :state="settings.confirm_pwd_state" type="password" @keyup.enter="change_pwd()" @input="settings.confirm_pwd_state = null">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="4" offset="4" class="text-center">
            <b-button @click="change_pwd()">Change Password</b-button>
          </b-col>
        </b-row>

        <!-- secret key recover -->
        <h3 class="mt-4 mb-3 border-bottom" :class="theme.border_class">Secret Keys</h3>
        <b-row>
          <b-col cols="8" offset="2" md="4" offset-md="0">
            <b-form-group label="Account">
              <b-form-select v-model="settings.account_secret" :options="settings.accounts_secret">
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col cols="8" offset="2" md="4" offset-md="0">
            <b-form-group label="Password">
              <b-input-group>
                <b-form-input v-model="settings.pwd_secret" type="password" @keyup.enter="show_secret_key()"></b-form-input>
                <b-input-group-append>
                  <b-button @click="show_secret_key()">Show</b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col cols="8" offset="2" md="4" offset-md="0">
            <b-form-group label="Secret key">
              <b-input-group>
                <b-form-input v-model="settings.secret_key" readonly></b-form-input>
                <b-input-group-append>
                  <b-button @click="copy(settings.secret_key)">
                    <i class="fas fa-copy"></i>
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
        </b-row>

        <!-- custom networks settings -->
        <h3 class="mt-4 mb-3 border-bottom" :class="theme.border_class">Networks</h3>
        <div>
          <b-table v-if="settings.networks.length>0" :dark="theme.dark" responsive borderless :items="settings.networks" :fields="['name', 'node', 'scan', 'remove']" class="text-center">
            <template v-slot:cell(scan)="data">
              {{ data.item.api }}
            </template>

            <template v-slot:cell(remove)="data">
              <div class="text-center">
                <b-button :variant="theme.outline" size="sm" @click="remove_network(data.item.name)">&times</b-button>
              </div>
            </template>
          </b-table>
          <b-row>
            <b-col cols="8" offset="2" md="4" offset-md="0">
              <b-form-group label="Name">
                <b-form-input v-model="settings.network_name"></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="8" offset="2" md="4" offset-md="0">
              <b-form-group label="Node">
                <b-form-input v-model="settings.network_node"></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="8" offset="2" md="4" offset-md="0">
              <b-form-group label="Scan">
                <b-form-input v-model="settings.network_scan" @keyup.enter="add_network()"></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="12" class="text-center">
              <b-button @click="add_network()">Add</b-button>
            </b-col>
          </b-row>
        </div>

        <!-- export / import settings -->
        <h3 class="mt-4 mb-3 border-bottom" :class="theme.border_class">Export / Import Data</h3>
        <b-row>
          <b-col offset="1" cols="10" offset-md="0" md="6">
            <b-form-group label="Export">
              <b-input-group>
                <b-input-group-prepend>
                  <b-input-group-text style="width:unset">Password</b-input-group-text>
                </b-input-group-prepend>
                <b-form-input v-model="settings.export_password" :state="settings.export_state" type="password" @input="settings.export_state = null"></b-form-input>
                <b-input-group-append>
                  <b-button v-if="settings.download_href==undefined" @click="export_data" variant="danger" title="this action will expose your secret keys in a json file">
                    <b-icon-exclamation-triangle-fill class="mr-1"></b-icon-exclamation-triangle-fill>
                    Decrypt
                  </b-button>
                  <b-button v-else :href="settings.download_href" download="metal_data.json" variant="info">Download</b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col offset="1" cols="10" offset-md="0" md="6">
            <b-form-group label="Import">
              <b-input-group>
                <b-form-file v-model="settings.import_file" accept=".json" @change="load_data"></b-form-file>
                <b-input-group-append>
                  <b-button :disabled="settings.import_string==undefined" :variant="settings.import_string==undefined ? 'default' : settings.import_state ? 'success' : 'info'" @click="import_data">{{ settings.import_state ? 'Imported' : 'Import' }}</b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
        </b-row>
      </b-container>
    </div>

    <!-- HOME -->
    <div v-else-if="path=='home'">
      <b-container fluid style="max-width:90%">
        <b-row>
          <b-col cols="12" md="4">

            <!-- account information -->
            <div id="account-home">
              <div class="d-flex flex-column mb-2">
                <div class="d-flex flex-column text-center py-5">
                  <div class="m-4 d-inline-flex">
                    <span class="mx-4"></span>
                    <b-button :href="dunscan_path + core.account.pkh" class="account-hash-home" :variant="theme.bg_variant">
                      {{ core.account.pkh }}
                    </b-button>
                    <b-button :variant="theme.bg_variant" @click="copy(core.account.pkh)" class="py-0 px-1 mx-2">
                      <i class="fas fa-copy"></i>
                    </b-button>
                  </div>
                  <div class="w-50 my-4 mx-auto">
                    <v-blockies class="main-blockies mb-1" :seed="core.account.pkh" size="8" scale="8"></v-blockies>
                    <br>
                    <b-badge pill variant="secondary" :path="typeof(revealed.hash)=='undefined' ? '#' : dunscan_path + revealed.hash">{{ revealed.txt }}</b-badge>
                  </div>
                  <div class="my-4">
                    <v-dun class="balance-home" :amount="core.balance" undef_class="text-danger" undef_title="cannot find account"></v-dun>
                  </div>
                </div>

                <div v-if="typeof(core.account_info)!='undefined'">
                  <b-card title="Baker options" :bg-variant="theme.bg_variant" :text-variant="theme.tx_variant" class="border border-0">
                    <b-row v-if="typeof(core.account_info.maxrolls)!='undefined'" class="py-2">
                      <b-col cols="6">Max Rolls</b-col>
                      <b-col cols="6">{{ core.account_info.maxrolls }}</b-col>
                    </b-row>
                    <b-row v-if="typeof(core.account_info.admin)!='undefined'" class="py-2">
                      <b-col cols="6">Admin</b-col>
                      <b-col cols="6">
                        <v-account :pkh="core.account_info.admin" :net="core.network"></v-account>
                      </b-col>
                    </b-row>
                    <b-row v-if="typeof(core.account_info.whitelist)!='undefined'" class="py-2">
                      <b-col cols="6">White List</b-col>
                      <b-col v-for="wacc in core.account_info.whitelist" cols="6" offset="3" :key="wacc">
                        <v-account :pkh="wacc" :net="core.network"></v-account>
                      </b-col>
                    </b-row>
                    <b-row v-if="typeof(core.account_info.delegation)!='undefined'" class="py-2">
                      <b-col cols="6">Delegation</b-col>
                      <b-col cols="6">{{ core.account_info.delegation ? 'open' : 'closed' }}</b-col>
                    </b-row>
                    <b-row v-if="typeof(core.account_info.recovery)!='undefined'" class="py-2">
                      <b-col cols="6">Recovery</b-col>
                      <b-col cols="6">
                        <v-account :pkh="core.account_info.recovery" :net="core.network"></v-account>
                      </b-col>
                    </b-row>
                  </b-card>
                </div>

                <!-- notifications -->
                <div v-if="core.notifications.length>0">
                  <b-card :bg-variant="theme.bg_variant" :text-variant="theme.tx_variant" class="border border-0">
                    <b-card-title v-b-toggle="'notifs-list'" class="d-flex justify-content-between" @click="core.notifs_list_visible = !core.notifs_list_visible">
                      <div>
                        Notifications
                        <b-badge pill variant="danger">{{ core.notifications.length }}</b-badge>
                      </div>
                      <div class="mr-5 d-flex align-items-center">
                        <i v-if="core.notifs_list_visible" class="fas fa-chevron-up"></i>
                        <i v-else class="fas fa-chevron-down"></i>
                      </div>
                    </b-card-title>
                    <b-collapse id="notifs-list">
                      <b-list-group class="pt-3 notifs-list-overflow" :class="theme.dark ? 'dark-theme' : ''">
                        <v-notif-small class="list-group-item" v-for="notif in core.notifications" :key="notif.id" :notif="notif" :network="core.network" :show_notif="show_notif" :deny_notif="deny_notif">
                        </v-notif-small>
                      </b-list-group>
                    </b-collapse>
                  </b-card>
                </div>
              </div>
            </div>

            <!-- accounts list -->
            <b-card title="Accounts" :bg-variant="theme.bg_variant" :text-variant="theme.tx_variant" class="border border-0">
              <b-list-group :class="theme.dark ? 'dark-theme' : ''">
                <b-list-group-item v-for="account in core.accounts" :key="account.pkh" :variant="theme.bg_variant" :class="theme.class" class="d-flex">
                  <b-button :variant="theme.bg_variant" @click="change_account(account)" :disabled="account == core.account" class="flex-grow-1 text-left">
                    <v-account :pkh="account.pkh"></v-account>
                  </b-button>
                  <b-button @click="copy(account.pkh)" class="py-0 px-1 mx-2" :variant="theme.bg_variant">
                    <i class="fas fa-copy"></i>
                  </b-button>
                </b-list-group-item>
              </b-list-group>
            </b-card>
            <div v-if="!core.importation" class="text-center">
              <b-button variant="primary" @click="get_import_accounts()" class="my-3">Import KT1</b-button>
            </div>
            <div v-else>
              <b-card :bg-variant="theme.bg_variant" :text-variant="theme.tx_variant" title="Import KT1" body-class="text-center">
                <v-import-kt1 :core="core" :import_accounts="import_accounts" :clear_import="clear_import">
                </v-import-kt1>
              </b-card>
            </div>
          </b-col>

          <b-col cols="12" md="8" id="tabs-home">
            <b-container class="h-50 py-5" v-if="!(core.account.pkh.substr(0,2)=='KT' && !core.account.managerKT)">
              <b-tabs v-model="core.operation_tab">

                <!-- transfer tab -->
                <b-tab title="Transfer" @click="refresh_history('transaction', 0)">
                  <v-transaction class="mb-5 py-3 border-bottom home-form-container mx-auto" :op="core.op" :class="theme.border_class" :clear_op="clear_op" :show_op="show_op" :expandable="true" :expanded="core.tr_expanded">
                  </v-transaction>

                  <!-- transactions table -->
                  <div v-if="core.transaction_history.ops.length != 0">
                    <div class="d-flex justify-content-end">
                      <b-pagination v-if="core.transaction_history.total > 10" v-model="core.transaction_history.page" per-page="10" :total-rows="core.transaction_history.total" align="right" @change="function(page) {refresh_history('transaction',page - 1)}" :class="theme.dark ? 'dark-theme' : ''">
                      </b-pagination>
                      <b-button :variant="theme.outline" @click="refresh_history('transaction', core.transaction_history.page - 1)" class="mb-4 ml-4">
                        <i class="fas fa-redo"></i>
                      </b-button>
                    </div>

                    <b-table :dark="theme.dark" responsive :items="core.transaction_history.ops" :fields="['hash', 'source', 'destination', 'amount', 'fee', 'date']" :tbody-tr-class="op_row_class">
                      <template v-slot:cell(hash)="data">
                        <a :href="dunscan_path + data.item.hash">{{data.item.hash.substr(0,10) + '...'}}</a>
                      </template>
                      <template v-slot:cell(source)="data">
                        <v-account :pkh="data.item.operations[0].info.source"></v-account>
                      </template>
                      <template v-slot:cell(destination)="data">
                        <v-account :pkh="data.item.operations[0].transaction.destination"></v-account>
                      </template>
                      <template v-slot:cell(amount)="data">
                        <v-dun :amount="data.item.operations[0].transaction.amount"></v-dun>
                      </template>
                      <template v-slot:cell(fee)="data">
                        <v-dun :amount="data.item.operations[0].info.fee"></v-dun>
                      </template>
                      <template v-slot:cell(date)="data">
                        {{ data.item.block==undefined ? 'pending' : pp_date(data.item.block.timestamp) }}
                      </template>
                    </b-table>
                  </div>
                </b-tab>

                <!-- delegate tab -->
                <b-tab title="Delegate" @click="refresh_history('delegation', 0)" v-if="core.delegate==undefined || core.delegate.pkh!=core.account.pkh">

                  <v-delegation class="mb-5 py-3 border-bottom home-form-container mx-auto" :class="theme.border_class" :core="core" :clear_op="clear_op" :show_op="show_op" :expandable="true" :expanded="core.del_expanded">
                  </v-delegation>

                  <!-- delegations table -->
                  <div v-if="core.delegation_history.ops.length > 0">
                    <b-pagination v-if="core.delegation_history.total > 10" v-model="core.delegation_history.page" per-page="10" :total-rows="core.delegation_history.total" align="right" @change="function(page) {refresh_history('delegation',page - 1)}" :class="theme.dark ? 'dark-theme' : ''">
                    </b-pagination>

                    <b-table :dark="theme.dark" responsive :items="core.delegation_history.ops" :fields="['hash', 'delegate', 'fee', 'date']" :tbody-tr-class="op_row_class">
                      <template v-slot:cell(hash)="data">
                        <a :href="dunscan_path + data.item.hash">{{data.item.hash.substr(0,10) + '...'}}</a>
                      </template>
                      <template v-slot:cell(delegate)="data">
                        <v-account v-if="data.item.operations[0].delegation.delegate!=undefined" :pkh="data.item.operations[0].delegation.delegate"></v-account>
                        <span v-else>undelegate</span>
                      </template>
                      <template v-slot:cell(fee)="data">
                        <v-dun :amount="data.item.operations[0].info.fee"></v-dun>
                      </template>
                      <template v-slot:cell(date)="data">
                        {{ data.item.block==undefined ? 'pending' : pp_date(data.item.block.timestamp) }}
                      </template>
                    </b-table>
                  </div>
                </b-tab>

                <!-- deploy tab -->
                <b-tab title="Deploy" @click="refresh_history('origination', 0)" :disabled="core.account.managerKT">
                  <div>
                    <div class="mb-5 py-3 border-bottom home-form-container mx-auto" :class="theme.border_class">
                      <b-input-group prepend="Balance" append="đ" class="p-2 mb-3">
                        <b-form-input v-model="core.op.origination.balance">
                        </b-form-input>
                      </b-input-group>
                      <b-form-group label="Code Hash" class="p-2 mb-3">
                        <b-form-input v-model="core.op.origination.script.codeHash">
                        </b-form-input>
                      </b-form-group>
                      <b-form-group
                        label="Storage"
                        class="p-2 mb-3"
                        description="You can use the prefix `#json:`, `#mic:` or `#love:`. If there is no prefix json is expected">
                        <b-form-input v-model="core.op.origination.script.storage">
                        </b-form-input>
                      </b-form-group>
                      <div class="text-right">
                        <b-button variant="link" v-b-toggle="'ori-options'" class="mr-3">More options</b-button>
                      </div>
                      <b-collapse id="ori-options">
                        <b-input-group prepend="Fee" append="μđ" class="p-2 mb-3">
                          <b-form-input v-model="core.op.info.fee" type="number">
                          </b-form-input>
                        </b-input-group>
                        <b-input-group prepend="Gas limit" class="p-2 mb-3">
                          <b-form-input v-model="core.op.info.gasLimit" type="number">
                          </b-form-input>
                        </b-input-group>
                        <b-input-group prepend="Storage limit" class="p-2 mb-3">
                          <b-form-input v-model="core.op.info.storageLimit" type="number">
                          </b-form-input>
                        </b-input-group>
                        <b-form-group
                          label="Code"
                          class="p-2 mb-3"
                          description="You can use the prefix `#json:`, `#mic:` or `#love:`. If there is no prefix json is expected">
                          <b-form-textarea v-model="core.op.origination.script.code" rows="10">
                          </b-form-textarea>
                        </b-form-group>
                      </b-collapse>
                      <div class="text-center">
                        <b-button variant="success" class="m-3" @click="show_op('origination')">Originate</b-button>
                        <b-button variant="danger" class="m-3" @click="clear_op('origination')">Cancel</b-button>
                      </div>
                    </div>
                  </div>

                  <!-- originations table -->
                  <div v-if="core.origination_history.ops.length > 0">
                    <b-pagination v-if="core.origination_history.total > 10" v-model="core.origination_history.page" per-page="10" :total-rows="core.origination_history.total" align="right" @change="function(page) {refresh_history('origination',page - 1)}" :class="theme.dark ? 'dark-theme' : ''">
                    </b-pagination>

                    <b-table :dark="theme.dark" responsive :items="core.origination_history.ops" :fields="['hash', 'contract', 'balance', 'fee', 'date']" :tbody-tr-class="op_row_class">
                      <template v-slot:cell(hash)="data">
                        <a :href="dunscan_path + data.item.hash">{{data.item.hash.substr(0,10) + '...'}}</a>
                      </template>
                      <template v-slot:cell(contract)="data">
                        <v-account :pkh="data.item.operations[0].origination.kt1"></v-account>
                      </template>
                      <template v-slot:cell(balance)="data">
                        <v-dun :amount="data.item.operations[0].origination.balance"></v-dun>
                      </template>
                      <template v-slot:cell(fee)="data">
                        <v-dun :amount="data.item.operations[0].info.fee"></v-dun>
                      </template>
                      <template v-slot:cell(date)="data">
                        {{ data.item.block==undefined ? 'pending' : pp_date(data.item.block.timestamp) }}
                      </template>
                    </b-table>
                  </div>
                </b-tab>

                <!-- notarize tab -->
                <b-tab title="Notarize" v-if="notarization_contract!=null" @click="refresh_history('notarization', 0)" :disabled="core.account.managerKT">
                  <div>
                    <div class="mb-5 py-3 border-bottom home-form-container mx-auto" :class="theme.border_class">
                      <b-input-group prepend="File" class="p-2 mb-3">
                        <b-form-file v-model="core.notarization_file">
                        </b-form-file>
                      </b-input-group>
                      <b-form-group label="Comments" class="p-2 mb-3">
                        <b-form-textarea v-model="core.notarization_comments" maxlength="100">
                        </b-form-textarea>
                      </b-form-group>

                      <div class="text-right">
                        <b-button variant="link" v-b-toggle="'not-options'" class="mr-3">More options</b-button>
                      </div>
                      <b-collapse id="not-options">
                        <b-input-group prepend="Fee" append="μđ" class="p-2 mb-3">
                          <b-form-input v-model="core.op.info.fee" type="number">
                          </b-form-input>
                        </b-input-group>
                        <b-input-group prepend="Gas limit" class="p-2 mb-3">
                          <b-form-input v-model="core.op.info.gasLimit" type="number">
                          </b-form-input>
                        </b-input-group>
                        <b-input-group prepend="Storage limit" class="p-2 mb-3">
                          <b-form-input v-model="core.op.info.storageLimit" type="number">
                          </b-form-input>
                        </b-input-group>
                      </b-collapse>

                      <div class="text-center">
                        <b-button variant="success" class="m-3" @click="show_op('notarization')">Notarize</b-button>
                        <b-button variant="danger" class="m-3" @click="clear_op('notarization')">Cancel</b-button>
                      </div>
                    </div>
                  </div>

                  <!-- notarizations table -->
                  <div v-if="core.notarization_history.ops.length > 0">
                    <b-pagination v-if="core.notarization_history.total > 10" v-model="core.notarization_history.page" per-page="10" :total-rows="core.notarization_history.total" align="right" @change="function(page) {refresh_history('notarization',page - 1)}" :class="theme.dark ? 'dark-theme' : ''">
                    </b-pagination>
                    <b-table :dark="theme.dark" responsive :items="core.notarization_history.ops" :fields="['hash', 'file_hash', 'name', 'comments', 'date']" :tbody-tr-class="op_row_class">
                      <template v-slot:cell(hash)="data">
                        <a :href="dunscan_path + data.item.hash">{{data.item.hash.substr(0,10) + '...'}}</a>
                      </template>
                      <template v-slot:cell(file_hash)="data">
                        <span v-if="core.notarization_info[data.item.hash+'_']!=undefined" :title="core.notarization_info[data.item.hash+'_'].file_hash">
                          {{ core.notarization_info[data.item.hash+'_'].file_hash.substr(0,15)+'...' }}
                          <b-button @click="copy(core.notarization_info[data.item.hash+'_'].file_hash)" :variant="theme.bg_variant" class="p-0 px-2"><i class="fas fa-copy"></i></b-button>
                        </span>
                        <span v-else>--</span>
                      </template>
                      <template v-slot:cell(name)="data">
                        {{ core.notarization_info[data.item.hash+'_'].file_name }}
                      </template>
                      <template v-slot:cell(comments)="data">
                        {{ core.notarization_info[data.item.hash+'_'].comments }}
                      </template>
                      <template v-slot:cell(date)="data">
                        {{ data.item.block==undefined ? 'pending' : pp_date(data.item.block.timestamp) }}
                      </template>
                    </b-table>
                  </div>
                </b-tab>

                <!-- manage account tab -->
                <b-tab title="Manage Account" @click="refresh_history('manage_account', 0)" v-if="!(core.account.managerKT || core.delegate==undefined || core.delegate.pkh!=core.account.pkh)">
                  <v-manage-account class="mb-5 py-3 border-bottom home-form-container mx-auto" :class="theme.border_class" :core="core" :clear_op="clear_op" :show_op="show_op" :set_manage_account_json="set_manage_account_json">
                  </v-manage-account>

                  <!-- manage accounts table -->
                  <div v-if="core.manage_account_history.ops.length > 0">
                    <b-pagination v-if="core.manage_account_history.total > 10" v-model="core.manage_account_history.page" per-page="10" :total-rows="core.manage_account_history.total" align="right" @change="function(page) {refresh_history('manage_account',page - 1)}" :class="theme.dark ? 'dark-theme' : ''">
                    </b-pagination>
                    <b-table :dark="theme.dark" responsive :items="core.manage_account_history.ops" :fields="['hash', 'max_rolls', 'recovery', 'admin', 'white_list', 'delegation', 'actions', 'fee', 'date']" :tbody-tr-class="op_row_class">
                      <template v-slot:cell(hash)="data">
                        <a :href="dunscan_path + data.item.hash">{{data.item.hash.substr(0,10) + '...'}}</a>
                      </template>
                      <template v-slot:cell(max_rolls)="data">
                        {{ !data.item.operations[0].manage_account.set_maxrolls ? '--' :
                        ( data.item.operations[0].manage_account.maxrolls == undefined ? 'unset' : data.item.operations[0].manage_account.maxrolls ) }}
                      </template>
                      <template v-slot:cell(recovery)="data">
                        <span v-if="!data.item.operations[0].manage_account.set_recovery">--</span>
                        <span v-else-if="data.item.operations[0].manage_account.recovery == undefined">unset</span>
                        <v-account v-else :pkh="data.item.operations[0].manage_account.recovery"></v-account>
                      </template>
                      <template v-slot:cell(admin)="data">
                        <span v-if="!data.item.operations[0].manage_account.set_admin">--</span>
                        <span v-else-if="data.item.operations[0].manage_account.admin == undefined">unset</span>
                        <v-account :pkh="data.item.operations[0].manage_account.admin" v-else></v-account>
                      </template>
                      <template v-slot:cell(white_list)="data">
                      </template>
                      <template v-slot:cell(delegation)="data">
                        {{ data.item.operations[0].manage_account.delegation == undefined ? '--' : data.item.operations[0].manage_account.delegation ? 'open' : 'closed' }}
                      </template>
                      <template v-slot:cell(actions)="data">
                        {{ data.item.operations[0].manage_account.actions.length != 0 ? data.item.operations[0].manage_account.actions : '--'  }}
                      </template>
                      <template v-slot:cell(fee)="data">
                        <v-dun :amount="data.item.operations[0].info.fee"></v-dun>
                      </template>
                      <template v-slot:cell(date)="data">
                        {{ data.item.block==undefined ? 'pending' : pp_date(data.item.block.timestamp) }}
                      </template>
                    </b-table>
                  </div>
                </b-tab>
              </b-tabs>
            </b-container>
          </b-col>
        </b-row>
      </b-container>

      <!-- NOTIFICATION MODAL -->
      <b-modal ref="notif-modal" header-class="text-dark" body-class="d-flex text-dark" footer-class="d-none">
        <!-- header -->
        <template v-slot:modal-title>
          <span v-if="core.notif.kind=='approval'">Approval Request</span>
          <span v-else-if="core.notif_error!=undefined">Error</span>
          <span v-else-if="core.notif.kind=='batch'">Batch Request</span>
          <span v-else-if="core.notif.op.kind=='transaction'">Transaction Request</span>
          <span v-else-if="core.notif.op.kind=='origination'">Origination Request</span>
          <span v-else-if="core.notif.op.kind=='delegation'">Delegation Request</span>
          <span v-else-if="core.notif.op.kind=='reveal'">Reveal Request</span>
          <span v-else-if="core.notif.op.kind=='manage_account'">Manage Account Request</span>
        </template>

        <v-notif :close_notif="close_notif" :core="core" :refuse_notif="refuse_notif" :inject_op="inject_op" :approve_url="approve_url" :dune_script="dune_script" :add_to_batch="add_to_batch" :postpone_batch="postpone_batch" class="d-flex flex-column"></v-notif>
      </b-modal>
    </div>

    <!-- LOADING -->
    <div v-else-if="path=='loading'" class="d-flex align-items-center" style="height:50vh">
      <b-spinner :variant="theme.tx_variant" class="mx-auto"></b-spinner>
    </div>

    <div v-if="path!='presentation'" class="p-5"></div>
  </div>
</div>
