<div>
  <b-form-checkbox-group :options="core.import_accounts" v-model="core.selected_import_accounts" stacked class="m-4 import-checkbox">
  </b-form-checkbox-group>
  <div class="text-center">
    <b-button @click="import_accounts()" variant="success" class="m-3">Import</b-button>
    <b-button @click="clear_import()" variant="danger" class="m-3">Back</b-button>
  </div>
</div>
