<div>
  <b-input-group prepend="Max Rolls" class="p-2 mb-3">
    <b-form-input v-model="core.op.manage_account.maxrolls">
    </b-form-input>
    <b-input-group-append is-text class="unset-checkbox">
      <b-form-checkbox v-model="core.op.manage_account.set_maxrolls">Unset</b-form-checkbox>
    </b-input-group-append>
  </b-input-group>
  <b-input-group prepend="Admin" class="p-2 mb-3">
    <b-form-input v-model="core.op.manage_account.admin">
    </b-form-input>
    <b-input-group-append is-text class="unset-checkbox">
      <b-form-checkbox v-model="core.op.manage_account.set_admin">Unset</b-form-checkbox>
    </b-input-group-append>
  </b-input-group>
  <b-input-group prepend="White List" class="p-2 mb-3">
    <b-form-input v-model="core.op.manage_account.whiteList">
    </b-form-input>
  </b-input-group>
  <b-input-group prepend="Delegation" class="p-2 mb-3">
    <b-form-input v-model="core.op.manage_account.delegation">
    </b-form-input>
  </b-input-group>
  <b-input-group prepend="Recovery" class="p-2 mb-3">
    <b-form-input v-model="core.op.manage_account.recovery">
    </b-form-input>
    <b-input-group-append is-text class="unset-checkbox">
      <b-form-checkbox v-model="core.op.manage_account.set_recovery">Unset</b-form-checkbox>
    </b-input-group-append>
  </b-input-group>
  <b-input-group prepend="Raw JSON" class="p-2 mb-3">
    <b-form-file v-model="core.manage_account_json" @change="set_manage_account_json()">
    </b-form-file>
  </b-input-group>
  <b-form-group class="p-2 mb-3">
    <b-form-textarea v-model="core.op.manage_account.json" rows="10" placeholder="Can also input JSON manually
                                                                                  example:
                                                                                  {
                                                                                  'maxrolls': 42,
                                                                                  'actions': [
                                                                                  ['clear_delegations', null]
                                                                                  ]
                                                                                  }">
    </b-form-textarea>
  </b-form-group>
  <div class="text-right">
    <b-button variant="link" v-b-toggle="'man-options'" class="mr-3">More options</b-button>
  </div>
  <b-collapse id="man-options">
    <b-input-group prepend="Fee" append="μđ" class="p-2 mb-3">
      <b-form-input v-model="core.op.info.fee" type="number">
      </b-form-input>
    </b-input-group>
    <b-input-group prepend="Gas limit" class="p-2 mb-3">
      <b-form-input v-model="core.op.info.gasLimit" type="number">
      </b-form-input>
    </b-input-group>
    <b-input-group prepend="Storage limit" class="p-2 mb-3">
      <b-form-input v-model="core.op.info.storageLimit" type="number">
      </b-form-input>
    </b-input-group>
  </b-collapse>

  <div class="text-center">
    <b-button variant="success" class="m-3" @click="show_op('manage_account')">Send</b-button>
    <b-button variant="danger" class="m-3" @click="clear_op('manage_account')">Cancel</b-button>
  </div>
</div>
