<div class="d-flex flex-column p-3">
  <span class="text-center">{{ notif.tsp }}</span>
  <div v-if="notif.kind=='operation' && notif.op.kind=='transaction'" class="d-flex justify-content-center align-items-center text-nowrap py-1">
    <span class="mx-2">Send</span>
    <v-dun :amount="notif.op.transaction.amount"></v-dun>
    <span class="mx-2">to</span>
    <v-account :pkh="notif.op.transaction.destination" :net="network"></v-account>
  </div>
  <div v-else-if="notif.kind=='operation' && notif.op.kind=='delegation'" class="d-flex justify-content-center align-items-center text-nowrap py-1">
    <span v-if="notif.op.delegation.delegate==undefined">Undelegate</span>
    <span v-else>
      <span class="mx-2">Delegate to</span>
      <v-account :pkh="notif.op.delegation.delegate" :net="network"></v-account>
    </span>
  </div>
  <div v-else-if="notif.kind=='operation' && notif.op.kind=='origination'" class="d-flex justify-content-center align-items-center text-nowrap py-1">
    <span class="mx-2">Originate contract with</span>
    {{ notif.op.origination.balance }}
  </div>
  <div v-else-if="notif.kind=='operation' && notif.op.kind=='reveal'" class="d-flex justify-content-center align-items-center text-nowrap py-1">
    <span class="mx-2">Reveal pkh</span>
    {{ notif.op.reveal.pubkey }}
  </div>
  <div v-else-if="notif.kind=='operation' && notif.op.kind=='manage_account'" class="d-flex justify-content-center align-items-center text-nowrap py-1">
    <span class="mx-2">Manage account</span>
    <span v-if="notif.op.manage_account.set_maxrolls">
      Max Rolls: {{ notif.op.manage_account.maxrolls==undefined ? 'unset' : notif.op.manage_account.maxrolls }}
    </span>
    <span v-if="notif.op.manage_account.set_admin">
      Admin: {{ notif.op.manage_account.admin==undefined ? 'unset' : notif.op.manage_account.admin }}
    </span>
    <span v-if="notif.op.manage_account.whiteList!=undefined">
      White list: {{ notif.op.manage_account.whiteList.length==0 ? 'unset' : notif.op.manage_account.whiteList }}
    </span>
    <span v-if="notif.op.manage_account.set_recovery">
      Recovery: {{ notif.op.manage_account.recovery==undefined ? 'unset' : notif.op.manage_account.recovery }}
    </span>
    <span v-if="notif.op.manage_account.actions.length>0">
      Actions: {{ notif.op.manage_account.actions }}
    </span>
  </div>
  <div v-else-if="notif.kind=='batch' && notif.type=='commit'" class="d-flex justify-content-center align-items-center text-nowrap py-1">
    <i class="fas fa-hourglass-start mx-1"></i> {{ notif.batch.length }} delayed operations
  </div>
  <div v-else-if="notif.kind=='batch'" class="d-flex justify-content-center align-items-center text-nowrap py-1">
    <i class="fas fa-layer-group mx-1"></i> {{ notif.batch.length }} batched operations
  </div>
  <div v-else-if="notif.kind=='approval'" class="d-flex justify-content-center align-items-center text-nowrap py-1">
    <span class="mx-2">approval for domain</span>
    <img style="height:30px" :src="notif.icon" alt="connection_requester">
    <span class="mx-2 overflow-hidden">{{ notif.name }}</span>
  </div>
  <div v-else>Notification Not Defined</div>
  <div class="d-flex justify-content-around mx-2 mt-2">
    <b-button variant="primary" @click="show_notif(notif)">
      <i class="fas fa-eye"></i>
      <span class="mx-2">See</span>
    </b-button>
    <b-button variant="danger" @click="deny_notif(notif)">
      <i class="fas fa-ban"></i>
      <span class="mx-2">Deny</span>
    </b-button>
  </div>
</div>
