<div >
  <b-input-group prepend="Destination" class="p-2 mb-3">
    <b-form-input v-model="op.transaction.destination">
    </b-form-input>
  </b-input-group>
  <b-input-group prepend="Amount" append="đ" class="p-2 mb-3">
    <b-form-input v-model="op.transaction.amount">
    </b-form-input>
  </b-input-group>
  <div class="p-2 mb-3">
    <b-form-checkbox v-model="postpone">
      Postpone this operation to be included later
    </b-form-checkbox>
  </div>
  <div v-if="!expandable">
    <div class="text-right">
      <b-button variant="link" @click="route('trexp')" class="mr-3">More options</b-button>
    </div>
  </div>
  <div v-else>
    <div class="text-right">
      <b-button variant="link" v-b-toggle="'tr-options'" class="mr-3">More options</b-button>
    </div>
    <b-collapse :visible="expanded" id="tr-options">
      <b-input-group prepend="Fee" append="μđ" class="p-2 mb-3">
        <b-form-input v-model="op.info.fee" type="number">
        </b-form-input>
      </b-input-group>
      <b-input-group prepend="Gas limit" class="p-2 mb-3">
        <b-form-input v-model="op.info.gasLimit" type="number">
        </b-form-input>
      </b-input-group>
      <b-input-group prepend="Storage limit" class="p-2 mb-3">
        <b-form-input v-model="op.info.storageLimit" type="number">
        </b-form-input>
      </b-input-group>
      <b-input-group prepend="Entrypoint" class="p-2 mb-3">
        <b-form-input v-model="op.transaction.parameters.entrypoint">
        </b-form-input>
      </b-input-group>
      <b-form-group
        label="Parameters"
        class="p-2 mb-3"
        description="You can use the prefix `#json:`, `#mic:` or `#love:`. If there is no prefix json is expected">
        <b-form-textarea v-model="op.transaction.parameters.value">
        </b-form-textarea>
      </b-form-group>
    </b-collapse>
  </div>

  <div class="text-center">
    <b-button variant="success" class="m-3" @click="show_op('transaction', postpone)">Send</b-button>
    <b-button variant="danger" class="m-3" @click="clear_op('transaction', postpone)">Cancel</b-button>
  </div>
</div>
